.Vue-component {
  word-wrap: break-word;
}

.Donating__header {
  padding: 10px;
  background-color: #ee6e73;
}

.Donating__row-of-header {
  justify-content: flex-end;
}

.Donating__link {
  display: block;
  text-align: center;
  padding: 10px;
  color: white;
}
.Donating__link:hover {
  opacity: .5;
  color: white;
  text-decoration: none;
}

.Donating__information-section {
  padding-top: 50px;
}

.Donating__information-block {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  box-shadow: 10px 5px 5px silver;
  height: 166px;
  padding: 20px;
}
.Donating__information-block > * {
  color: white;
}
.Donating__information-block > p:not(:last-child) {
  margin-bottom: 6px;
}

.Donating__information-block.user-block {
  background-color: #2D2D2D;
}

.Donating__information-block.all-block {
  background-color: #9DA24D;
}

.Donating__block-headline,
.Donating__block-person {
  font-size: 16px;
}

.Donating__block-price {
  font-size: 30px;
}

.Donating__block-price {
  font-size: 30px;
}

.Donating__tb-col:nth-child(1),
.Donating__tb-col:nth-child(5) {
  width: 25%;
}

.Donating__tb-col:nth-child(2),
.Donating__tb-col:nth-child(4) {
  width: 20%;
}

.Donating__tb-col:nth-child(3) {
  width: 10%;
}

.Donating__tb-col.headline {
  font-weight: bold;
}

.Donating__tb-col {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.Donating__table {
  width: 100%;
  padding: 40px 20px;
}

.Donating__main-info {
  padding: 40px 20px 18px;
}

.Donating__tb-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 10px 0;
}

.Donating__tb-row:not(:first-child) {
  border-top: 1px solid silver;
}

.Donating__tb-row:last-child {
  border-bottom: 1px solid silver;
}

.Donating__pagination {
  display: flex;
  justify-content: center;
}

.Donating__pagination li {
  font-size: 20px;
  margin: 0 7px;
}

.Donating__pagination li.active {
  color: lightgreen;
}

.Donating__pagination li.active {
  color: lightgreen;
}

.Donating__pagination li:first-child {
  margin-left: 0;
}

.Donating__pagination li:last-child {
  margin-right: 0;
}

.Donating__container-chart {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.Donating__chart {
  width: 100%;
  height: 400px;
}