.Donating__header {
  padding: 10px;
  background-color: #ee6e73;
}

.Donating__row-of-header {
  justify-content: flex-end;
}

.Donating__main-row {
  min-height: calc(100vh - 64px);
}

.Donating__link {
  display: block;
  text-align: center;
  padding: 10px;
  color: white;
}
.Donating__link:hover {
  opacity: .5;
  color: white;
  text-decoration: none;
}

.Donating__headline-of-page {
  font-size: 66px;
  margin-bottom: 28px;
  text-align: center;
}

.Donating__form {
  display: flex;
  flex-direction: column;
}
.Donating__form label {
  font-size: 15px;
  color: gray;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.Donating__form label input {
  font-size: 18px;
  padding: 10px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.Donating__input-btn {
  border: 0;
  background-color: #2bbbad;
  color: white;
  width: 98px;
  padding: 10px 0;
  border-radius: 6px;
  align-self: center;
  transition: opacity .3s ease;
}
.Donating__input-btn:hover {
  opacity: .7;
}